//custom properties variables
$zero: 0 !important;
$none: none !important;


//Theme colors
$themeColor: #606c38;
$vineWine:    #7b1010;
$orange: #dda15e;

$primary:       $vineWine;
$secondary:     $orange;

//White and gray colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;

$alert-padding-y:               0;
$alert-padding-x:               2rem;
$alert-margin-bottom:           0;
$alert-border-radius:           0;
$alert-bg-scale:                0;
$alert-border-scale:            0;
$alert-color-scale:             0;
$alert-dismissible-padding-r:   $alert-padding-x * 3; // 3x covers width of x plus default padding on either side


$font-family-sans-serif: "catamaran","Helvetica Neue","Helvetica","sans-serif";
$font-family-serif: "DM Serif Display","Georgia","Times New Roman","serif";
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


//Import Bootstrap v5
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Accordion overrides
$accordion-icon-color: $primary;
$accordion-icon-active-color:  $secondary;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

/* With # */

$whiteClay: #C0AE83;
$lightGreen: #78885A;
$charcoal: #0A0B0A;

.showcase {
    background: center/cover url('/img/landing-page-bg.jpg');
    height: 100vh;
}

